In [23]:
import pandas as pd 

df = pd.read_excel(r'C:\Users\Vusal\Downloads\new_data (2).xlsx')

In [24]:
df.head()

,Qiymət,C1,C2,Kateqoriya,Mərtəbə,Sahə,Otaq sayı,Kupça,İpoteka,Təmir
0,94500,40402511534715,498518545575805,0,5/5,53.0,2,1,0,1
1,126500,40404505013218,498509533353515,0,4/5,72.0,3,1,0,1
2,285000,404065973528723,49873263732787,1,4/18,122.2,3,1,0,1
3,87000,403766022856081,498478599128418,0,2/3,40.0,2,1,0,0
4,75000,404028671018614,49870570791354,0,3/5,30.0,2,1,0,1

In [25]:
df.columns = ['Price', 'C1', 'C2', 'Category', 'Floor', 'Area', 'RoomNumber', 'Kupcha', 'Mortgage', 'Remont']

In [26]:
df.head()

,Price,C1,C2,Category,Floor,Area,RoomNumber,Kupcha,Mortgage,Remont
0,94500,40402511534715,498518545575805,0,5/5,53.0,2,1,0,1
1,126500,40404505013218,498509533353515,0,4/5,72.0,3,1,0,1
2,285000,404065973528723,49873263732787,1,4/18,122.2,3,1,0,1
3,87000,403766022856081,498478599128418,0,2/3,40.0,2,1,0,0
4,75000,404028671018614,49870570791354,0,3/5,30.0,2,1,0,1

In [27]:
df.isna().sum()

Price         0
C1            0
C2            0
Category      0
Floor         0
Area          0
RoomNumber    0
Kupcha        0
Mortgage      0
Remont        0
dtype: int64

In [28]:
df['Floor_Home' ] = df.Floor.apply(lambda x: int(x.split('/')[0]))
df['Floor_House'] = df.Floor.apply(lambda x: int(x.split('/')[1]))

In [29]:
df.drop('Floor', axis = 1, inplace = True)

In [30]:
df.reset_index(inplace = True)

In [31]:
df

,index,Price,C1,C2,Category,Area,RoomNumber,Kupcha,Mortgage,Remont,Floor_Home,Floor_House
0,0,94500,40402511534715,498518545575805,0,53.0,2,1,0,1,5,5
1,1,126500,40404505013218,498509533353515,0,72.0,3,1,0,1,4,5
2,2,285000,404065973528723,49873263732787,1,122.2,3,1,0,1,4,18
3,3,87000,403766022856081,498478599128418,0,40.0,2,1,0,0,2,3
4,4,75000,404028671018614,49870570791354,0,30.0,2,1,0,1,3,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1927,1927,100000,404061226286124,498752005048461,0,55.0,2,1,0,1,7,9
1928,1928,175000,40398870782384,498763675142693,1,101.0,3,1,1,1,16,16
1929,1929,83000,403977447959129,498580169677734,0,41.0,2,1,0,1,1,9
1930,1930,140000,403978480607678,498743377190412,1,70.0,2,1,0,1,7,8
1931,1931,139000,404044028897294,498536033578582,1,62.0,3,1,0,1,4,4

In [38]:
def extractCoordinates(col):
    col = str(col)
    col = col[:2] + '.' + col[2:]
    return float(col)

df['C1'] = df['C1'].apply(extractCoordinates)
df['C2'] = df['C2'].apply(extractCoordinates)

ValueError: could not convert string to float: '40..402511534715'

In [39]:
df.dtypes

index            int64
Price            int64
C1             float64
C2             float64
Category         int64
Area           float64
RoomNumber       int64
Kupcha           int64
Mortgage         int64
Remont           int64
Floor_Home       int64
Floor_House      int64
dtype: object

In [41]:
import geopy.distance

def calculateDistance(c1, c2):
    return geopy.distance.geodesic(c1, c2).km

In [42]:
calculateDistance((df.C1[0], df.C2[0]), (df.C1[5], df.C2[5]))

0.2921877535936418

In [43]:
metroCoordinates = [
    (40.3798499,49.8485742), #28May
    (40.4004909,49.8506117), #Ganjlik
    (40.4028298,49.8684909)] #Narimanov

In [44]:
diction = {}
index = 0
for i, j in zip(df['C1'], df['C2']):
    house_coordinates = tuple((i, j))
    distances = []
    for m in metroCoordinates:
        distances.append(calculateDistance(m, house_coordinates))
    diction[index] = (min(distances) * 1000)
    index+=1

In [45]:
distances = pd.DataFrame(diction, index = range(len(df))).T

distances.reset_index(inplace = True)
distances = distances[['index', 0]]
distances.rename({0:'DistanceToMetro'}, axis = 1, inplace = True)

In [46]:
distances

      index  DistanceToMetro
0         0       247.944726
1         1       446.679161
2         2       582.386062
3         3       365.687164
4         4       176.610399
...     ...              ...
1927   1927       676.829794
1928   1928       800.235805
1929   1929       698.718250
1930   1930       743.222874
1931   1931       503.187542

[1932 rows x 2 columns]

In [47]:
df.merge(distances, on = 'index', how = 'inner')

,index,Price,C1,C2,Category,Area,RoomNumber,Kupcha,Mortgage,Remont,Floor_Home,Floor_House,DistanceToMetro
0,0,94500,40.402512,49.851855,0,53.0,2,1,0,1,5,5,247.944726
1,1,126500,40.404505,49.850953,0,72.0,3,1,0,1,4,5,446.679161
2,2,285000,40.406597,49.873264,1,122.2,3,1,0,1,4,18,582.386062
3,3,87000,40.376602,49.847860,0,40.0,2,1,0,0,2,3,365.687164
4,4,75000,40.402867,49.870571,0,30.0,2,1,0,1,3,5,176.610399
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1927,1927,100000,40.406123,49.875201,0,55.0,2,1,0,1,7,9,676.829794
1928,1928,175000,40.398871,49.876368,1,101.0,3,1,1,1,16,16,800.235805
1929,1929,83000,40.397745,49.858017,0,41.0,2,1,0,1,1,9,698.718250
1930,1930,140000,40.397848,49.874338,1,70.0,2,1,0,1,7,8,743.222874
1931,1931,139000,40.404403,49.853603,1,62.0,3,1,0,1,4,4,503.187542

In [48]:
df.drop('index', axis = 1, inplace = True)

In [49]:
df.head()

,Price,C1,C2,Category,Area,RoomNumber,Kupcha,Mortgage,Remont,Floor_Home,Floor_House
0,94500,40.402512,49.851855,0,53.0,2,1,0,1,5,5
1,126500,40.404505,49.850953,0,72.0,3,1,0,1,4,5
2,285000,40.406597,49.873264,1,122.2,3,1,0,1,4,18
3,87000,40.376602,49.847860,0,40.0,2,1,0,0,2,3
4,75000,40.402867,49.870571,0,30.0,2,1,0,1,3,5

In [51]:
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier(criterion='entropy')

X = df.drop('Price', axis = 1)
y = df['Price']

tree.fit(X, y)

DecisionTreeClassifier(criterion='entropy')

In [53]:
prediction = tree.predict(X)

In [54]:
X

,C1,C2,Category,Area,RoomNumber,Kupcha,Mortgage,Remont,Floor_Home,Floor_House
0,40.402512,49.851855,0,53.0,2,1,0,1,5,5
1,40.404505,49.850953,0,72.0,3,1,0,1,4,5
2,40.406597,49.873264,1,122.2,3,1,0,1,4,18
3,40.376602,49.847860,0,40.0,2,1,0,0,2,3
4,40.402867,49.870571,0,30.0,2,1,0,1,3,5
...,...,...,...,...,...,...,...,...,...,...
1927,40.406123,49.875201,0,55.0,2,1,0,1,7,9
1928,40.398871,49.876368,1,101.0,3,1,1,1,16,16
1929,40.397745,49.858017,0,41.0,2,1,0,1,1,9
1930,40.397848,49.874338,1,70.0,2,1,0,1,7,8
1931,40.404403,49.853603,1,62.0,3,1,0,1,4,4

In [56]:
from sklearn.metrics import accuracy_score

accuracy_score(y, prediction)

0.9994824016563147

In [73]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score
from sklearn.metrics import *
from sklearn import tree
def printmetrics(y, prediction):
    print("Accuracy is " , accuracy_score (y, prediction))
    print(classification_report (y, prediction))
    
    
printmetrics(y, prediction)

Accuracy is  0.9994824016563147
              precision    recall  f1-score   support

       28000       1.00      1.00      1.00         1
       31000       1.00      1.00      1.00         1
       35000       1.00      1.00      1.00         1
       43000       1.00      1.00      1.00         1
       48000       1.00      1.00      1.00         1
       49000       1.00      1.00      1.00         1
       50000       1.00      1.00      1.00         1
       55000       1.00      1.00      1.00         4
       56000       1.00      1.00      1.00         2
       57000       1.00      1.00      1.00         3
       59000       1.00      1.00      1.00         1
       59800       1.00      1.00      1.00         1
       60000       1.00      1.00      1.00         3
       61600       1.00      1.00      1.00         1
       62000       1.00      1.00      1.00         1
       63000       1.00      1.00      1.00         2
       63500       1.00      1.00      1.00         2
       64000       1.00      1.00      1.00         2
       64500       1.00      1.00      1.00         1
       65000       1.00      1.00      1.00        10
       65500       1.00      1.00      1.00         2
       66000       1.00      1.00      1.00         1
       67000       1.00      1.00      1.00         3
       68000       1.00      1.00      1.00         3
       68100       1.00      1.00      1.00         1
       69000       1.00      1.00      1.00         7
       70000       1.00      1.00      1.00        10
       71000       1.00      1.00      1.00         2
       72000       1.00      1.00      1.00         2
       73000       1.00      1.00      1.00         1
       73500       1.00      1.00      1.00         1
       74000       1.00      1.00      1.00         1
       75000       1.00      1.00      1.00         6
       77000       1.00      1.00      1.00         6
       78000       1.00      1.00      1.00         7
       79200       1.00      1.00      1.00         1
       79999       1.00      1.00      1.00         1
       80000       1.00      1.00      1.00         8
       81000       1.00      1.00      1.00         4
       82000       1.00      1.00      1.00         5
       82125       1.00      1.00      1.00         1
       83000       1.00      1.00      1.00        10
       83500       1.00      1.00      1.00         1
       84000       1.00      1.00      1.00         2
       84500       1.00      1.00      1.00         1
       85000       1.00      1.00      1.00         7
       85500       1.00      1.00      1.00         1
       86000       1.00      1.00      1.00         2
       87000       1.00      1.00      1.00         6
       87500       1.00      1.00      1.00         1
       88000       1.00      1.00      1.00         5
       88500       1.00      1.00      1.00         1
       89000       1.00      1.00      1.00         3
       89500       1.00      1.00      1.00         1
       90000       1.00      1.00      1.00        11
       90350       1.00      1.00      1.00         1
       91000       1.00      1.00      1.00         2
       92000       1.00      1.00      1.00         1
       92800       1.00      1.00      1.00         1
       93000       1.00      1.00      1.00         5
       94000       1.00      1.00      1.00         3
       94080       1.00      1.00      1.00         1
       94500       1.00      1.00      1.00         2
       95000       1.00      1.00      1.00        12
       96000       1.00      1.00      1.00         5
       97000       1.00      1.00      1.00         2
       98000       1.00      1.00      1.00         4
       98500       1.00      1.00      1.00         1
       99000       1.00      1.00      1.00         3
      100000       1.00      1.00      1.00        14
      101000       1.00      1.00      1.00         2
      102000       1.00      1.00      1.00         7
      103000       1.00      1.00      1.00         6
      104000       1.00      1.00      1.00         3
      105000       1.00      1.00      1.00        17
      106000       1.00      1.00      1.00         2
      107000       1.00      1.00      1.00         2
      108000       1.00      1.00      1.00        10
      109000       1.00      1.00      1.00         3
      109999       1.00      1.00      1.00         1
      110000       1.00      1.00      1.00        29
      111000       1.00      1.00      1.00         1
      112000       1.00      1.00      1.00         8
      113000       1.00      1.00      1.00         2
      113500       1.00      1.00      1.00         1
      114000       1.00      1.00      1.00         1
      114550       1.00      1.00      1.00         1
      115000       1.00      1.00      1.00        13
      116000       1.00      1.00      1.00         4
      116900       1.00      1.00      1.00         1
      117000       1.00      1.00      1.00         6
      117500       1.00      1.00      1.00         1
      118000       1.00      1.00      1.00         8
      119000       1.00      1.00      1.00         3
      120000       1.00      1.00      1.00        16
      121000       1.00      1.00      1.00         3
      122000       1.00      1.00      1.00         3
      123000       1.00      1.00      1.00         9
      124000       1.00      1.00      1.00         4
      124900       1.00      1.00      1.00         1
      125000       1.00      1.00      1.00        36
      126000       1.00      1.00      1.00         7
      126500       1.00      1.00      1.00         1
      127000       1.00      1.00      1.00         6
      128000       1.00      1.00      1.00        13
      128500       1.00      1.00      1.00         1
      129000       1.00      1.00      1.00         7
      129999       1.00      1.00      1.00         1
      130000       0.97      1.00      0.98        28
      132000       1.00      1.00      1.00         7
      133000       1.00      1.00      1.00         5
      134000       1.00      1.00      1.00         4
      135000       1.00      1.00      1.00        34
      136000       1.00      1.00      1.00        11
      137000       1.00      1.00      1.00         2
      137280       1.00      1.00      1.00         1
      138000       1.00      1.00      1.00         2
      139000       1.00      1.00      1.00         4
      139900       1.00      1.00      1.00         2
      140000       1.00      1.00      1.00        34
      141000       1.00      1.00      1.00         1
      142000       1.00      1.00      1.00         9
      143000       1.00      1.00      1.00         3
      143444       1.00      1.00      1.00         1
      143500       1.00      1.00      1.00         1
      144000       1.00      1.00      1.00         2
      145000       1.00      1.00      1.00        29
      146000       1.00      1.00      1.00         2
      146500       1.00      1.00      1.00         1
      147000       1.00      0.86      0.92         7
      147500       1.00      1.00      1.00         1
      148000       1.00      1.00      1.00        10
      148500       1.00      1.00      1.00         1
      149000       1.00      1.00      1.00         5
      149500       1.00      1.00      1.00         2
      150000       1.00      1.00      1.00        12
      152000       1.00      1.00      1.00         6
      153000       1.00      1.00      1.00         3
      153400       1.00      1.00      1.00         1
      153600       1.00      1.00      1.00         1
      154000       1.00      1.00      1.00         2
      155000       1.00      1.00      1.00        24
      156000       1.00      1.00      1.00         5
      156600       1.00      1.00      1.00         1
      157000       1.00      1.00      1.00        15
      158000       1.00      1.00      1.00         5
      158400       1.00      1.00      1.00         1
      159000       1.00      1.00      1.00         3
      160000       1.00      1.00      1.00        29
      161000       1.00      1.00      1.00         1
      162000       1.00      1.00      1.00         3
      163000       1.00      1.00      1.00        14
      164000       1.00      1.00      1.00         1
      164999       1.00      1.00      1.00         1
      165000       1.00      1.00      1.00        35
      165900       1.00      1.00      1.00         1
      166000       1.00      1.00      1.00         1
      167000       1.00      1.00      1.00         4
      168000       1.00      1.00      1.00         2
      169000       1.00      1.00      1.00         5
      169900       1.00      1.00      1.00         1
      170000       1.00      1.00      1.00        31
      171600       1.00      1.00      1.00         1
      172000       1.00      1.00      1.00        10
      173000       1.00      1.00      1.00         2
      174000       1.00      1.00      1.00         1
      175000       1.00      1.00      1.00        30
      176000       1.00      1.00      1.00         4
      176160       1.00      1.00      1.00         1
      176400       1.00      1.00      1.00         1
      177000       1.00      1.00      1.00         6
      178000       1.00      1.00      1.00         2
      178100       1.00      1.00      1.00         1
      179000       1.00      1.00      1.00         3
      180000       1.00      1.00      1.00        21
      181000       1.00      1.00      1.00         2
      183000       1.00      1.00      1.00         1
      184000       1.00      1.00      1.00         1
      185000       1.00      1.00      1.00        31
      186000       1.00      1.00      1.00         1
      187000       1.00      1.00      1.00         7
      188000       1.00      1.00      1.00         7
      188700       1.00      1.00      1.00         1
      188900       1.00      1.00      1.00         1
      189000       1.00      1.00      1.00         4
      190000       1.00      1.00      1.00        11
      192000       1.00      1.00      1.00         1
      192100       1.00      1.00      1.00         1
      193000       1.00      1.00      1.00         4
      194000       1.00      1.00      1.00         2
      194390       1.00      1.00      1.00         1
      195000       1.00      1.00      1.00        14
      195874       1.00      1.00      1.00         1
      196000       1.00      1.00      1.00         1
      197000       1.00      1.00      1.00         1
      198000       1.00      1.00      1.00         1
      199000       1.00      1.00      1.00         5
      200000       1.00      1.00      1.00        21
      203000       1.00      1.00      1.00         1
      204000       1.00      1.00      1.00         1
      205000       1.00      1.00      1.00        21
      206000       1.00      1.00      1.00         2
      207000       1.00      1.00      1.00         2
      208000       1.00      1.00      1.00         2
      209000       1.00      1.00      1.00         2
      210000       1.00      1.00      1.00        22
      212000       1.00      1.00      1.00         1
      214000       1.00      1.00      1.00         1
      214172       1.00      1.00      1.00         1
      214200       1.00      1.00      1.00         1
      215000       1.00      1.00      1.00        12
      216000       1.00      1.00      1.00         2
      217000       1.00      1.00      1.00         4
      217500       1.00      1.00      1.00         1
      218000       1.00      1.00      1.00         2
      218500       1.00      1.00      1.00         1
      220000       1.00      1.00      1.00        24
      221400       1.00      1.00      1.00         1
      222000       1.00      1.00      1.00         5
      223000       1.00      1.00      1.00         3
      224000       1.00      1.00      1.00         2
      224900       1.00      1.00      1.00         1
      225000       1.00      1.00      1.00        32
      226000       1.00      1.00      1.00         2
      227000       1.00      1.00      1.00         1
      228000       1.00      1.00      1.00         4
      229000       1.00      1.00      1.00         2
      230000       1.00      1.00      1.00        18
      230500       1.00      1.00      1.00         1
      232000       1.00      1.00      1.00         5
      234000       1.00      1.00      1.00         1
      235000       1.00      1.00      1.00        19
      236000       1.00      1.00      1.00         1
      238000       1.00      1.00      1.00         3
      240000       1.00      1.00      1.00         5
      242000       1.00      1.00      1.00         1
      245000       1.00      1.00      1.00        11
      246000       1.00      1.00      1.00         1
      247000       1.00      1.00      1.00         1
      248000       1.00      1.00      1.00         1
      249000       1.00      1.00      1.00         1
      250000       1.00      1.00      1.00        30
      251500       1.00      1.00      1.00         1
      252000       1.00      1.00      1.00         3
      252650       1.00      1.00      1.00         1
      254000       1.00      1.00      1.00         1
      255000       1.00      1.00      1.00        18
      257000       1.00      1.00      1.00         1
      258000       1.00      1.00      1.00         4
      258999       1.00      1.00      1.00         1
      259000       1.00      1.00      1.00         5
      260000       1.00      1.00      1.00        20
      262000       1.00      1.00      1.00         1
      264000       1.00      1.00      1.00         1
      264600       1.00      1.00      1.00         1
      265000       1.00      1.00      1.00        14
      267000       1.00      1.00      1.00         1
      268000       1.00      1.00      1.00         2
      269000       1.00      1.00      1.00         1
      270000       1.00      1.00      1.00        24
      270300       1.00      1.00      1.00         1
      271800       1.00      1.00      1.00         2
      272000       1.00      1.00      1.00         1
      274000       1.00      1.00      1.00         1
      275000       1.00      1.00      1.00        15
      277000       1.00      1.00      1.00         2
      279000       1.00      1.00      1.00         3
      280000       1.00      1.00      1.00        22
      285000       1.00      1.00      1.00        16
      286000       1.00      1.00      1.00         2
      288000       1.00      1.00      1.00         3
      289000       1.00      1.00      1.00         1
      290000       1.00      1.00      1.00         6
      292000       1.00      1.00      1.00         2
      293000       1.00      1.00      1.00         2
      295000       1.00      1.00      1.00         6
      296000       1.00      1.00      1.00         2
      300000       1.00      1.00      1.00        18
      303688       1.00      1.00      1.00         1
      304000       1.00      1.00      1.00         2
      305000       1.00      1.00      1.00         5
      306000       1.00      1.00      1.00         1
      307000       1.00      1.00      1.00         1
      309000       1.00      1.00      1.00         3
      310000       1.00      1.00      1.00        10
      313000       1.00      1.00      1.00         1
      315000       1.00      1.00      1.00         8
      316000       1.00      1.00      1.00         1
      318000       1.00      1.00      1.00         1
      319000       1.00      1.00      1.00         1
      320000       1.00      1.00      1.00        17
      322000       1.00      1.00      1.00         2
      323000       1.00      1.00      1.00         2
      324000       1.00      1.00      1.00         3
      325000       1.00      1.00      1.00        20
      326000       1.00      1.00      1.00         1
      327000       1.00      1.00      1.00         1
      330000       1.00      1.00      1.00        22
      332151       1.00      1.00      1.00         1
      335000       1.00      1.00      1.00         8
      338000       1.00      1.00      1.00         1
      340000       1.00      1.00      1.00         4
      345000       1.00      1.00      1.00         3
      346000       1.00      1.00      1.00         1
      347700       1.00      1.00      1.00         1
      348000       1.00      1.00      1.00         1
      349000       1.00      1.00      1.00         2
      350000       1.00      1.00      1.00        25
      355000       1.00      1.00      1.00         3
      358700       1.00      1.00      1.00         1
      360000       1.00      1.00      1.00         7
      362000       1.00      1.00      1.00         1
      365000       1.00      1.00      1.00         2
      368000       1.00      1.00      1.00         1
      370000       1.00      1.00      1.00         3
      375000       1.00      1.00      1.00         6
      378000       1.00      1.00      1.00         4
      379000       1.00      1.00      1.00         1
      380000       1.00      1.00      1.00        10
      382000       1.00      1.00      1.00         1
      384000       1.00      1.00      1.00         1
      385000       1.00      1.00      1.00         2
      386000       1.00      1.00      1.00         1
      390000       1.00      1.00      1.00         7
      395000       1.00      1.00      1.00         2
      399000       1.00      1.00      1.00         1
      399500       1.00      1.00      1.00         1
      400000       1.00      1.00      1.00        11
      410000       1.00      1.00      1.00         5
      414000       1.00      1.00      1.00         1
      414800       1.00      1.00      1.00         1
      415000       1.00      1.00      1.00         1
      420000       1.00      1.00      1.00         9
      421000       1.00      1.00      1.00         1
      425000       1.00      1.00      1.00         2
      427000       1.00      1.00      1.00         1
      430000       1.00      1.00      1.00         7
      440000       1.00      1.00      1.00         4
      445000       1.00      1.00      1.00         1
      450000       1.00      1.00      1.00        12
      455000       1.00      1.00      1.00         1
      460000       1.00      1.00      1.00         1
      462000       1.00      1.00      1.00         1
      465000       1.00      1.00      1.00         3
      470000       1.00      1.00      1.00         2
      474000       1.00      1.00      1.00         2
      480000       1.00      1.00      1.00         8
      490000       1.00      1.00      1.00         3
      495000       1.00      1.00      1.00         1
      498000       1.00      1.00      1.00         2
      499000       1.00      1.00      1.00         1
      499999       1.00      1.00      1.00         1
      500000       1.00      1.00      1.00         9
      510000       1.00      1.00      1.00         4
      520000       1.00      1.00      1.00         3
      530000       1.00      1.00      1.00         2
      539000       1.00      1.00      1.00         1
      544000       1.00      1.00      1.00         1
      545000       1.00      1.00      1.00         1
      549000       1.00      1.00      1.00         8
      549999       1.00      1.00      1.00         1
      550000       1.00      1.00      1.00         4
      555000       1.00      1.00      1.00         1
      560000       1.00      1.00      1.00         4
      570000       1.00      1.00      1.00         3
      575000       1.00      1.00      1.00         1
      580000       1.00      1.00      1.00         1
      590000       1.00      1.00      1.00         1